# 底层扫描工具信息
[pylint]
name = "pylint"
version = "4.0.4"
path = 'D:\Python\Scripts\pylint.exe'  # 可执行文件包装机制
supportedLanguages = ["python"]
# environment = "python" # 环境变量寻找
# environment = {name = "python", path = 'D:\Python\python.exe'}  # 明确路径
args = [
    # "--rcfile", 'D:\Code\Project\Multi-tool_Static_Analysis_System_refactor\config\pylint_config.toml',  # 配置文件
    "--output-format", "json",
    "--output", "{output_file:json}",
    "{scan_files}"
]


[bandit]
name = "bandit"
version = "1.9.2"
path = 'D:\Python\Scripts\bandit.exe'
supportedLanguages = ["python"]
args = [
    # "--configfile", 'D:\Code\Project\Multi-tool_Static_Analysis_System_refactor\tool-config\bandit_config.toml',
    "--format", "json",
    "--output", "{output_file:json}",
    "-r", "{scan_files}"
]


# C#, Java, Kotlin, Python, Ruby, Golang, Terraform, Javascript, Typescript, Kubernetes, PHP, C, HTML, JSON, Dart, Elixir, Shell, Nginx.
[horusec]
name = "horusec"
version = "2.8.0"
path = 'D:\SAT\horusec.exe'
supportedLanguages=["python", "java", "Kotlin", "c#", "javascript", "typescript", "c", "ruby"]
args = [
    "start",
    "--disable-docker",
    # "--config-file-path", 'D:\Code\Project\Multi-tool_Static_Analysis_System_refactor\tool-config\horusec_config.json',
    "--output-format", "json",
    "--json-output-file", "{output_file:json}",
    "--ignore={exclude_dirs}",
    "-p", "{target_dir}"
]

# · C · C++ · C# · Clojure · Dart · Dockerfile · Elixir · HTML · Go · Java · JavaScript · JSX ·
# JSON · Julia · Jsonnet · Kotlin · Lisp · Lua · OCaml · PHP · Python · R · Ruby · Rust · Scala ·
# Scheme · Solidity · Swift · Terraform · TypeScript · TSX · YAML · XML · Generic (ERB, Jinja, etc.)
[semgrep]
name = "semgrep"
version = "1.149.0"
path = 'D:\Python\Scripts\semgrep.exe'
supportedLanguages = ["python", "java", "c", "c++", "c#", "kotlin", "javascript", "typescript", "ruby"]
args = [
    "scan",
    # "--config", ""
    "--quiet",
    "--json-output", "{output_file:json}",
    "{scan_files}"
]


# [spotbugs]    # 只能扫描 java 编译后的字节码，且只能生成 xml 文件
# name = "spotbugs"
# version = "4.9.8"
# path = 'D:\SAT\spotbugs-4.9.8\bin\spotbugs.bat'
# supportedLanguages = ["java"]
# args = [
#     "-textui",
#     "-sourcepath", "{source_dir}",
#     "-xml",
#     "-output", "{output_file:xml}",
#     "{scan_files}"
# ]


# Java (Maven and Android), Kotlin (Android), Swift (iOS), .NET Full Framework, C#, and Javascript (Node.js)
[insider]  # 不能指定生成 json 文件的路径，所以只能在指定目录调用工具
name = "insider"
version = "3.0.0"
path = 'D:\SAT\insider.exe'
supportedLanguages = ["java", "kotlin", "javascript", "c#"]
args = [
    "-tech", "{language_type}",
    "-no-html",
    "-target", "{scan_files}"
]


[cppcheck]
name = "cppcheck"
version = "2.19.0"
path = 'D:\SAT\cppcheck\cppcheck.exe'
supportedLanguages = ["c", "c++"]
args = [
    "--enable=all",
    "--output-format=xml",
    "--output-file={output_file:xml}",
    "{scan_files}"
]



[cwe_mapping]
path='D:\Code\Project\Multi-tool_Static_Analysis_System_refactor\database\cwe_mapping.sqlite3'
maps = [
    {toolName = "pylint", tableName = "pylint_mapping"},
    {toolName = "cppcheck", tableName = "cppcheck_mapping"},
    {toolName = "spotbugs"， tableName = "spotbugs_mapping"},
    {toolName = "clang static analysis", tableName = "csa_mapping"},
    {toolName = "codeql", tableName = "codeql_mapping"}
]
